h1 {
  color: rgb(29, 1, 107);
  font-style: italic;
}

.note {
  color: rgb(66, 3, 184);
  padding-top: 5px;
  font-size: 18px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
